.projects{
    height: 100vh;
    background-color: #010401;
    color: #efefef;
    display: flex;
}
.projects-left{
    flex: 1;
    padding: 5vh 5vw 30vh 5vw;
    align-self: flex-end;
}

.projects-right{
    flex: 2;
    display: block;
}

.projects-header{
    font-size: 40px;
    font-family: 'Fira Code',sans-serif;
}

.project{
    height: 100vh;
}


.project-header{
    font-size: 40px;
    font-family: 'Fira Code',sans-serif;
}
